<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('personal') }}">Personal</a></li>
          <li><a href="{{ url_for('cv') }}">CV</a></li>
          <li><a href="{{ url_for('tech') }}">Technologies</a></li>
          <li><a href="{{ url_for('interests') }}">Interests</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>{% block content %}{% endblock %}</div>
    </main>
    <footer>
      <p>&copy; 2024 My Website</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
