{% extends 'base.html' %} {% block title %}Interests{% endblock %} {% block
styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/interests.css') }}"
/>
{% endblock %} {% block content %}

<h1>Interests</h1>

<div class="interests">
  <ul>
    <li>
      <div class="interest-title">
        <span class="bullet">•</span>
        <strong>Skiing:</strong>
      </div>
      <p>Enjoy skiing with family during the winter season.</p>
      <p class="goal">
        Future Goal: Explore more skiing resorts around the world.
      </p>
    </li>
    <li>
      <div class="interest-title">
        <span class="bullet">•</span>
        <strong>Home Interior:</strong>
      </div>
      <p>
        Loved rearranging furniture and decorating the house since childhood.
      </p>
      <p class="goal">
        Goal: Create a home filled with my own tastes when I get a house in the
        future.
      </p>
    </li>
    <li>
      <div class="interest-title">
        <span class="bullet">•</span>
        <strong>Cooking:</strong>
      </div>
      <p>
        Developed a love for cooking from enjoying delicious meals, and the
        happiness of sharing them with family and friends.
      </p>
      <p class="goal">Goal: Try making many new dishes.</p>
    </li>
    <li>
      <div class="interest-title">
        <span class="bullet">•</span>
        <strong>Baking:</strong>
      </div>
      <p>
        Started baking with a friend after moving to Ireland, enjoying it for
        the same reasons as cooking, especially the love for delicious desserts.
      </p>
      <p class="quote">Quote: "Baking is both an art and a science."</p>
    </li>
    <li>
      <div class="interest-title">
        <span class="bullet">•</span>
        <strong>Video Editing:</strong>
      </div>
      <p>
        Developed an interest in video editing after starting a YouTube vlog and
        learning the skills on my own.
      </p>
    </li>
    <li>
      <div class="interest-title">
        <span class="bullet">•</span>
        <strong>Photography:</strong>
      </div>
      <p>Enjoy taking photos.</p>
      <p class="goal">
        Future Goal: Improve my photography skills and start a photo blog.
      </p>
    </li>
  </ul>
</div>
{% endblock %}
